.checkbox-columns .form-item {
  margin-right: 10px !important;
  float: left;
/*  display: inline; */
}
.checkbox-columns-clear .form-item {
  margin-right: 10px !important;
  clear: left;
  float: left;
/*  display: inline; */
}