@media print {
  #skip-link, .region-page-top, #header, #header-menu, #banner, .brick, h1, h2, ul, #sidebar-right, #footer, #footer-bottom{
    display: none;
  }

  #content #content-inside #main .region-content{
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    color: #000;
  }

  @page {
    margin: 2cm;
  }
}