<div>
<table>
	{% if (items) %}
		{% for item in items %}
			<tr>
				<th>
					<span>{{ item.getTitle() }}</span>
				</th>
				<th>
					<span>{{ item.getPostedTime() | date('Y/m/d') }}</span>
				</th>
			</tr>
        	<tr>
    			<td colspan=2>
        			<p>{{ item.getDescription() | raw }}</p>
        		</td>
        	</tr>
		{% endfor %}
    {% endif %}
</table>
{% if (more) %}
	<a href="{{ more }}">更多...</a>
{% endif %}
</div>