{% if page.sidebar_right %}
<!-- ASIDE CONTENT -->
<div class="sidebar d-print-none">
  <aside class="my-3 position-sticky sticky-top" id="content-aside">
    <div>
      {{ page.sidebar_right }}
    </div>
  </aside>
</div>
<!-- ASIDE CONTENT -->
{% endif %}
