@media print {
  #header, #breadcrumb, #hightlighted, #sidebar-first, #sidebar-second, #footer, #toolbar {
    display: none;
  }

  #main {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    color: #000;
  }

  @page {
    margin: 2cm;
  }
}

.js-hide {
  display: none !important;
}
.js-show {
  display: block;
}